/* Align text to the left */
.left-align {
    text-align: left;
  }
  
  /* Align text to the center */
  .center-align {
    text-align: center;
  }
  
  /* Align text to the right */
  .right-align {
    text-align: right;
  }
  
  /* Justify text (align to both left and right edges) */
  .justify-align {
    text-align: justify;
  }
  